@font-face {
  font-family: 'primary';
  src: url('fonts/SvBasicManual-nRPP.ttf') format('truetype');
}

@font-face {
  font-family: 'kiwi';
  src: url('fonts/KiwiSoda.ttf') format('truetype');
}

a {
  font-family: "primary", sans-serif;
  font-weight: 400;
  font-style: normal;

  color: lightgreen;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 6px;
  text-decoration: none;
}

p {
  font-family: "primary", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 5px;
}

#body {
  background-color: #212421;
  color: #eee;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

#logo-anim {
  display: none;
  position: absolute;
  justify-content: center;
  transform: translate(1px, -22px);
}

#header {
  display: none;
  flex-direction: row;
  justify-content: right;
  margin: 5px 11px 0 205px;
  border: 1px solid lightgreen;
  opacity: 0;
  transform: scale(0.9);
  white-space: nowrap;
  overflow-x: auto;
}

#header-text-1 {
  display: flex;
  justify-content: right;
  margin: 5px 5px 0 0;
  font-size: 11px;
}

#header-text-2 {
  display: flex;
  justify-content: right;
  margin: 0 5px 0 0;
}

#cat-area {
  display: flex;
  flex-direction: column-reverse;
  height: 130px;
  position: relative;
}

#HDD-anim {
  position: absolute;
  color: lightgreen;
  display: grid;
  margin-left: calc(50% - 26px);
  margin-top: 20px;
  inset: 0;
  width: 56px;
  height: 80px;
  opacity: 0;
}

.HDD-icon {
  grid-column: 1;
  grid-row: 1;
  height: 80px;
  width: 56px;
}

#canvas-cat {
  display: none;
  position: absolute;
  pointer-events: none;
  left: calc(100% - 140px);
}

#middle {
  display: flex;
  flex-direction: row;
  position: relative;
}

#left-nav {
  display: none;
  flex-direction: column;
  margin: 0 5px 0 11px;
  border: 1px solid lightgreen;
  width: 235px;
  min-width: max-content;
  height: calc(100vh - 198px);
  padding: 6px;
  overflow-y: auto;
  opacity: 0;
  transform: scale(0.95);
}

.category-title {
  font-weight: 600;
  background-color: #004b0b;
  padding-left: 7px;
}

.list-item {
  cursor: pointer;
  padding-left: 14px;
}

.list-item-link {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2px;
}

@media (hover: hover) {
  .list-item:hover {
    background-color: #004b0b;
  }
}

.list-item-selected {
  user-select: none;
  pointer-events: none;
  cursor: default;
  background-color: #003B06;
}

.list-item-deactivated {
  user-select: none;
  pointer-events: none;
  cursor: default;
}

#main {
  position: relative;
  display: none;
  flex-direction: column;
  margin: 0 11px 0 0;
  border: 1px solid lightgreen;
  width: 100%;
  height: calc(100vh - 196px);
  overflow-y: auto;
  opacity: 0;
  transform: scale(0.95);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.page-title-left-bar {
  background-color: #004b0b;
  padding: 15px 0 0 38px;
}

.page-title-right-bar {
  background-color: #004b0b;
  flex-grow: 1;
}

#page-myself {
  display: none;
}

#corner-of-internet {
  font-family: 'kiwi', sans-serif;
  font-size: 17px;
}

.photo {
  margin-right: 8px;
  border: 1px solid green;
  height: 128px;
  width: 128px;
}

#page-snpda {
  display: none;
}

#page-prairie {
  display: none;
}

.main-page {
  flex-direction: column;
}

#footer {
  display: none;
}

#logo-dust-1 {
  width: 1px;
  height: 1px;
  background-color: transparent;
  /*r*/
  box-shadow: 10px -12px #FFF, 10px -8px #FFF, 10px -4px #FFF, 10px 0 #FFF, 10px 4px #FFF, 10px 8px #FFF, 10px 12px #FFF, 10px 16px #FFF,
  12px -12px #FFF, 12px -8px #FFF, 12px -4px #FFF, 12px 0 #FFF, 12px 4px #FFF, 12px 8px #FFF, 12px 12px #FFF, 12px 16px #FFF,
  14px -12px #FFF, 14px -8px #FFF, 14px -4px #FFF, 14px 0 #FFF, 14px 4px #FFF, 14px 8px #FFF, 14px 12px #FFF, 14px 16px #FFF,
  16px -12px #FFF, 16px -8px #FFF, 16px -4px #FFF, 16px 0 #FFF, 16px 4px #FFF, 16px 8px #FFF, 16px 12px #FFF, 16px 16px #FFF,
  18px -9px #FFF, 18px -5px #FFF,
  20px -11px #FFF, 20px -7px #FFF,
  22px -12px #FFF, 22px -8px #FFF,
  24px -12px #FFF, 24px -8px #FFF,
  /*y*/
  27px -12px #FFF, 27px -8px #FFF, 27px 24px #FFF, 27px 28px #FFF,
  29px -12px #FFF, 29px -8px #FFF, 29px -4px #FFF, 29px 0 #FFF, 29px 24px #FFF, 29px 28px #FFF,
  31px -12px #FFF, 31px -8px #FFF, 31px -4px #FFF, 31px 0 #FFF, 31px 4px #FFF, 31px 8px #FFF, 31px 24px #FFF, 31px 28px #FFF,
  33px -4px #FFF, 33px 0 #FFF, 33px 4px #FFF, 33px 8px #FFF, 33px 12px #FFF, 33px 16px #FFF, 33px 20px #FFF, 33px 24px #FFF, 33px 28px #FFF,
  35px 4px #FFF, 35px 8px #FFF, 35px 12px #FFF, 35px 16px #FFF, 35px 20px #FFF, 35px 24px #FFF, 35px 28px #FFF,
  37px 4px #FFF, 37px 8px #FFF, 37px 12px #FFF, 37px 16px #FFF, 37px 20px #FFF, 37px 24px #FFF,
  39px -4px #FFF, 39px 0 #FFF, 39px 4px #FFF, 39px 8px #FFF, 39px 12px #FFF, 39px 16px #FFF,
  41px -12px #FFF, 41px -8px #FFF, 41px -4px #FFF, 41px 0 #FFF, 41px 4px #FFF, 41px 8px #FFF,
  43px -12px #FFF, 43px -8px #FFF, 43px -4px #FFF, 43px 0 #FFF,
  45px -12px #FFF, 45px -8px #FFF,
  /*u*/
  48px -12px #FFF, 48px -8px #FFF, 48px -4px #FFF, 48px 0 #FFF, 48px 4px #FFF, 48px 8px #FFF, 48px 12px #FFF,
  50px -12px #FFF, 50px -8px #FFF, 50px -4px #FFF, 50px 0 #FFF, 50px 4px #FFF, 50px 8px #FFF, 50px 12px #FFF, 50px 16px #FFF,
  52px -12px #FFF, 52px -8px #FFF, 52px -4px #FFF, 52px 0 #FFF, 52px 4px #FFF, 52px 8px #FFF, 52px 12px #FFF, 52px 16px #FFF,
  54px -12px #FFF, 54px -8px #FFF, 54px -4px #FFF, 54px 0 #FFF, 54px 4px #FFF, 54px 8px #FFF, 54px 12px #FFF, 54px 16px #FFF,
  56px 12px #FFF, 56px 16px #FFF,
  58px 11px #FFF, 58px 15px #FFF,
  60px 9px #FFF, 60px 13px #FFF,
  62px -12px #FFF, 62px -8px #FFF, 62px -4px #FFF, 62px 0 #FFF, 62px 4px #FFF, 62px 8px #FFF, 62px 12px #FFF, 62px 16px #FFF,
  64px -12px #FFF, 64px -8px #FFF, 64px -4px #FFF, 64px 0 #FFF, 64px 4px #FFF, 64px 8px #FFF, 64px 12px #FFF, 64px 16px #FFF,
  66px -12px #FFF, 66px -8px #FFF, 66px -4px #FFF, 66px 0 #FFF, 66px 4px #FFF, 66px 8px #FFF, 66px 12px #FFF, 66px 16px #FFF,
  68px -12px #FFF, 68px -8px #FFF, 68px -4px #FFF, 68px 0 #FFF, 68px 4px #FFF, 68px 8px #FFF, 68px 12px #FFF, 68px 16px #FFF,
  /*n*/
  71px -12px #FFF, 71px -8px #FFF, 71px -4px #FFF, 71px 0 #FFF, 71px 4px #FFF, 71px 8px #FFF, 71px 12px #FFF, 71px 16px #FFF,
  73px -12px #FFF, 73px -8px #FFF, 73px -4px #FFF, 73px 0 #FFF, 73px 4px #FFF, 73px 8px #FFF, 73px 12px #FFF, 73px 16px #FFF,
  75px -12px #FFF, 75px -8px #FFF, 75px -4px #FFF, 75px 0 #FFF, 75px 4px #FFF, 75px 8px #FFF, 75px 12px #FFF, 75px 16px #FFF,
  77px -12px #FFF, 77px -8px #FFF, 77px -4px #FFF, 77px 0 #FFF, 77px 4px #FFF, 77px 8px #FFF, 77px 12px #FFF, 77px 16px #FFF,
  79px -9px #FFF, 79px -5px #FFF,
  81px -11px #FFF, 81px -7px #FFF,
  83px -12px #FFF, 83px -8px #FFF,
  85px -12px #FFF, 85px -8px #FFF, 85px -4px #FFF, 85px 0 #FFF, 85px 4px #FFF, 85px 8px #FFF, 85px 12px #FFF, 85px 16px #FFF,
  87px -12px #FFF, 87px -8px #FFF, 87px -4px #FFF, 87px 0 #FFF, 87px 4px #FFF, 87px 8px #FFF, 87px 12px #FFF, 87px 16px #FFF,
  89px -12px #FFF, 89px -8px #FFF, 89px -4px #FFF, 89px 0 #FFF, 89px 4px #FFF, 89px 8px #FFF, 89px 12px #FFF, 89px 16px #FFF,
  91px -8px #FFF, 91px -4px #FFF, 91px 0 #FFF, 91px 4px #FFF, 91px 8px #FFF, 91px 12px #FFF, 91px 16px #FFF,
  /*.*/
  94px 8px #FFF, 94px 12px #FFF, 94px 16px #FFF,
  96px 8px #FFF, 96px 12px #FFF, 96px 16px #FFF,
  98px 8px #FFF, 98px 12px #FFF, 98px 16px #FFF,
  100px 8px #FFF, 100px 12px #FFF, 100px 16px #FFF;
  animation: logoDust1Move 1.2s ease-out;
  animation-fill-mode: forwards;
}

#logo-dust-2 {
  width: 1px;
  height: 1px;
  background-color: transparent;
  /*r*/
  box-shadow: 11px 28px #FFF, 11px 32px #FFF, 11px 36px #FFF, 11px 40px #FFF, 11px 44px #FFF, 11px 48px #FFF, 11px 52px #FFF, 11px 56px #FFF,
  13px 28px #FFF, 13px 32px #FFF, 13px 36px #FFF, 13px 40px #FFF, 13px 44px #FFF, 13px 48px #FFF, 13px 52px #FFF, 13px 56px #FFF,
  15px 28px #FFF, 15px 32px #FFF, 15px 36px #FFF, 15px 40px #FFF, 15px 44px #FFF, 15px 48px #FFF, 15px 52px #FFF, 15px 56px #FFF,
  17px 28px #FFF, 17px 32px #FFF, 17px 36px #FFF, 17px 40px #FFF, 17px 44px #FFF, 17px 48px #FFF, 17px 52px #FFF, 17px 56px #FFF,
  19px 31px #FFF, 19px 35px #FFF,
  21px 29px #FFF, 21px 33px #FFF,
  23px 28px #FFF, 23px 32px #FFF,
  25px 28px #FFF, 25px 32px #FFF,
  /*y*/
  28px 28px #FFF, 28px 32px #FFF, 28px 64px #FFF, 28px 68px #FFF,
  30px 28px #FFF, 30px 32px #FFF, 30px 36px #FFF, 30px 40px #FFF, 30px 64px #FFF, 30px 68px #FFF,
  32px 28px #FFF, 32px 32px #FFF, 32px 36px #FFF, 32px 40px #FFF, 32px 44px #FFF, 32px 48px #FFF, 32px 64px #FFF, 32px 68px #FFF,
  34px 36px #FFF, 34px 40px #FFF, 34px 44px #FFF, 34px 48px #FFF, 34px 52px #FFF, 34px 56px #FFF, 34px 60px #FFF, 34px 64px #FFF, 34px 68px #FFF,
  36px 44px #FFF, 36px 48px #FFF, 36px 52px #FFF, 36px 56px #FFF, 36px 60px #FFF, 36px 64px #FFF, 36px 68px #FFF,
  38px 44px #FFF, 38px 48px #FFF, 38px 52px #FFF, 38px 56px #FFF, 38px 60px #FFF, 38px 64px #FFF,
  40px 36px #FFF, 40px 40px #FFF, 40px 44px #FFF, 40px 48px #FFF, 40px 52px #FFF, 40px 56px #FFF,
  42px 28px #FFF, 42px 32px #FFF, 42px 36px #FFF, 42px 40px #FFF, 42px 44px #FFF, 42px 48px #FFF,
  44px 28px #FFF, 44px 32px #FFF, 44px 36px #FFF, 44px 40px #FFF,
  46px 28px #FFF, 46px 32px #FFF,
  /*u*/
  49px 28px #FFF, 49px 32px #FFF, 49px 36px #FFF, 49px 40px #FFF, 49px 44px #FFF, 49px 48px #FFF, 49px 52px #FFF,
  51px 28px #FFF, 51px 32px #FFF, 51px 36px #FFF, 51px 40px #FFF, 51px 44px #FFF, 51px 48px #FFF, 51px 52px #FFF, 51px 56px #FFF,
  53px 28px #FFF, 53px 32px #FFF, 53px 36px #FFF, 53px 40px #FFF, 53px 44px #FFF, 53px 48px #FFF, 53px 52px #FFF, 53px 56px #FFF,
  55px 28px #FFF, 55px 32px #FFF, 55px 36px #FFF, 55px 40px #FFF, 55px 44px #FFF, 55px 48px #FFF, 55px 52px #FFF, 55px 56px #FFF,
  57px 52px #FFF, 57px 56px #FFF,
  59px 51px #FFF, 59px 55px #FFF,
  61px 49px #FFF, 61px 53px #FFF,
  63px 28px #FFF, 63px 32px #FFF, 63px 36px #FFF, 63px 40px #FFF, 63px 44px #FFF, 63px 48px #FFF, 63px 52px #FFF, 63px 56px #FFF,
  65px 28px #FFF, 65px 32px #FFF, 65px 36px #FFF, 65px 40px #FFF, 65px 44px #FFF, 65px 48px #FFF, 65px 52px #FFF, 65px 56px #FFF,
  67px 28px #FFF, 67px 32px #FFF, 67px 36px #FFF, 67px 40px #FFF, 67px 44px #FFF, 67px 48px #FFF, 67px 52px #FFF, 67px 56px #FFF,
  69px 28px #FFF, 69px 32px #FFF, 69px 36px #FFF, 69px 40px #FFF, 69px 44px #FFF, 69px 48px #FFF, 69px 52px #FFF, 69px 56px #FFF,
  /*n*/
  72px 28px #FFF, 72px 32px #FFF, 72px 36px #FFF, 72px 40px #FFF, 72px 44px #FFF, 72px 48px #FFF, 72px 52px #FFF, 72px 56px #FFF,
  74px 28px #FFF, 74px 32px #FFF, 74px 36px #FFF, 74px 40px #FFF, 74px 44px #FFF, 74px 48px #FFF, 74px 52px #FFF, 74px 56px #FFF,
  76px 28px #FFF, 76px 32px #FFF, 76px 36px #FFF, 76px 40px #FFF, 76px 44px #FFF, 76px 48px #FFF, 76px 52px #FFF, 76px 56px #FFF,
  78px 28px #FFF, 78px 32px #FFF, 78px 36px #FFF, 78px 40px #FFF, 78px 44px #FFF, 78px 48px #FFF, 78px 52px #FFF, 78px 56px #FFF,
  80px 31px #FFF, 80px 35px #FFF,
  82px 29px #FFF, 82px 33px #FFF,
  84px 28px #FFF, 84px 32px #FFF,
  86px 28px #FFF, 86px 32px #FFF, 86px 36px #FFF, 86px 40px #FFF, 86px 44px #FFF, 86px 48px #FFF, 86px 52px #FFF, 86px 56px #FFF,
  88px 28px #FFF, 88px 32px #FFF, 88px 36px #FFF, 88px 40px #FFF, 88px 44px #FFF, 88px 48px #FFF, 88px 52px #FFF, 88px 56px #FFF,
  90px 28px #FFF, 90px 32px #FFF, 90px 36px #FFF, 90px 40px #FFF, 90px 44px #FFF, 90px 48px #FFF, 90px 52px #FFF, 90px 56px #FFF,
  92px 32px #FFF, 92px 36px #FFF, 92px 40px #FFF, 92px 44px #FFF, 92px 48px #FFF, 92px 52px #FFF, 92px 56px #FFF,
  /*.*/
  95px 48px #FFF, 95px 52px #FFF, 95px 56px #FFF,
  97px 48px #FFF, 97px 52px #FFF, 97px 56px #FFF,
  99px 48px #FFF, 99px 52px #FFF, 99px 56px #FFF,
  101px 48px #FFF, 101px 52px #FFF, 101px 56px #FFF;
  animation: logoDust2Move 1.2s ease-out;
  animation-fill-mode: forwards;
}

@keyframes logoDust1Move {
  0%{
    opacity: 0;
    transform: translate(0, 0);
  }
  100%{
    opacity: 1;
    transform: translate(0px, 40px);
  }
}

@keyframes logoDust2Move {
  0%{
    opacity: 0;
    transform: translate(0px, 40px);
  }
  100%{
    opacity: 1;
    transform: translate(0, 0);
  }
}