.container {
  display: flex;
  flex-direction: column;
  margin-left: 11px;
  margin-top: 14px;
}

a {
  color: lightgreen;
}

.text {
  margin-bottom: 6px;
}

#stardust {
  width: 1px;
  height: 1px;
  background-color: transparent;
  box-shadow: 100px 100px #FFF;
  animation: stardustMove 10s linear infinite;
}

@keyframes stardustMove {
  0%{
    transform: translate(0, 0);
  }
  50%{
    transform: translate(0px, 100px);
  }
  100%{
    transform: translate(0, 0);
  }
}